@tailwind base;
@tailwind components;
@tailwind utilities;

.grabbing-icon {
	cursor: grabbing !important;
	cursor: -webkit-grabbing !important;
	user-select: none !important;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	overflow-anchor: none !important;
}
.s-kan-container {
	contain: size style;
}
.s-kan-item-wrapper {
	box-sizing: border-box;
	contain: style;
}

.moving-card {
	touch-action: manipulation;
}
.moving-card > * {
	pointer-events: none;
}
[data-rbd-draggable-context-id='0'] {
	transition: transform 0.2s cubic-bezier(0.2, 0, 0, 1);
}
/* [data-rbd-drag-handle-context-id='0'] {
	pointer-events: none;
} */
/* body {
	cursor: grabbing;
	cursor: -webkit-grabbing;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	overflow-anchor: none;
} */
